In [2]:
import pandas as pd

In [3]:
pets = {
    'species': ['cat', 'dog', 'parrot', 'cockroach'], 
    'name': ['Dr. Mittens Lamar', 'Diesel', 'Peach', 'Richard'], 
    'legs': [4, 4, 2, 6],
    'wings': [0, 0, 2, 4],
    'looking_for_home': ['no', 'no', 'no', 'yes']
}
df = pd.DataFrame(pets)
df.head()

     species               name  legs  wings looking_for_home
0        cat  Dr. Mittens Lamar     4      0               no
1        dog             Diesel     4      0               no
2     parrot              Peach     2      2               no
3  cockroach            Richard     6      4              yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   species           4 non-null      object
 1   name              4 non-null      object
 2   legs              4 non-null      int64
 3   wings             4 non-null      int64
 4   looking_for_home  4 non-null      object
dtypes: int64(2), object(3)
memory usage: 292.0+ bytes

In [6]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
df.columns

Index(['species', 'name', 'legs', 'wings', 'looking_for_home'], dtype='object')